Checks: >
    *,
    -altera-*,
    -llvm-*,
    -llvmlibc-*,
    -bugprone-easily-swappable-parameters,
    -modernize-use-trailing-return-type,
    -readability-identifier-length,
    -misc-no-recursion,
    -misc-include-cleaner
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'